body{
    margin: 0%;
    padding: 0%;
    background-color: #0c0e19;
   overflow-x: hidden;
}

/* .home{
    
  
    height: 600px; 
    width: auto;
    background-image: url('https://v4.cdnpk.net/videvo_files/video/free/video0468/thumbnails/_import_6166e79cddeab9.62548001_large.jpg?ga=GA1.1.581110608.1702911231'); 
    background-size: cover; 
    background-position: center;  
     background-attachment: fixed;
   
  } */
 /* AutoTypeText.css */

.auto-type-text {
  font-size: 24px;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  border-right: 2px solid #fffcfc;
  animation: typing 100s steps(50) forwards;
}

@keyframes typing {
  from { width: auto; }
  to { width: 100%; }
}

  

  
  
  
  .about-icon{

    width: 66px;
    color: yellow;
   
  }
  .featurette-image{

    border-radius: 33px;
    margin-top: 44px;
  }
  .about-detail{
    
    border: 2px solid #8F3687  ;
    border-radius: 33px; 
    /* border-image: linear-gradient(to right, #29E4EC, #8F3687) 2; */
    
    




  }
  .bio{
   font-size: 20px;
   font-weight: bold;
  }
.featurette-heading{
  font-family: 'Anton', sans-serif;
    font-size: 55px;
    font-weight: bold;
    background: linear-gradient(to right, rgba(8, 164, 255, 0.773), rgba(255, 3, 112, 0.961) 50%); 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.featurette-heading2{
  font-family: 'Anton', sans-serif;
    font-size: 55px;
    font-weight: bold;
    background: linear-gradient(to right, rgba(8, 164, 255, 0.773)10%, rgba(255, 3, 112, 0.961) 30%); 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.name{
  font-family: 'Anton', sans-serif;
    font-size: 55px;
    font-weight: bold;
   
}
.name1{
  color: yellow;
  font-family: 'Anton', sans-serif;
  font-size: 33px;
  font-weight: bold;
}
.myname{
  font-family: 'Anton', sans-serif;
  font-size: 60px;
  font-weight: bold;
  background: linear-gradient(to right, rgba(8, 164, 255, 0.773), rgba(255, 3, 112, 0.961) 40%); 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  


}
.text-cert{
  background: linear-gradient(to right, rgba(8, 164, 255, 0.773), rgba(255, 3, 112, 0.961) 40%); 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;


}
.navbar{
 

}
 .project-title{

  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 12px;
  font-size: bold;
 }
 .about-icon-project{

 width: 100px;
 margin: auto;
 margin-top: 12px;
 color: rgb(0, 170, 255);
 
 }


 .card {
  transition: all 0.3s ease;
  box-shadow: 0 4px 8px 0 rgba(44, 43, 43, 0.2);
  cursor: pointer;
}
.card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px 0 rgba(248, 243, 243, 0.2);
}
.project-row{

  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 12px;

}
a{
  text-decoration: none;
}

.hair-me{
  color: white;
  height: 150px;
  background: linear-gradient(to right, rgba(8, 164, 255, 0.773), rgba(255, 3, 112, 0.961) 40%); 
  
  display: flex;
  justify-content: center;
  align-items: center;
}
.hair-icon{
  width: 100px;
  height: 60px;
}
.hire-button{
  margin-bottom: 5px;
 
}
.doted{
  width: 100px;
  height: 60px;
  
}

.footer-icon{

  color: white;
  font-size: 25px;


}
.home{

  width: auto;
  height: 700px;
  background-image: url('./images/home.png');
background-size: cover;
  /* background-attachment: fixed; */
 background-repeat: no-repeat;
 



}
.home-text{

  position: relative;
  left: 60px;
  top: 180px;
}

.text-heading {

  color: #FFFF00;
}
 .cv-btn{
  background: linear-gradient(to right, rgba(8, 164, 255, 0.773), rgba(255, 3, 112, 0.961) 40%); 
color: white;
padding: 7px;
border-radius: 12px;

}
.cv-btn:hover{
  background-color: #ead5ea58;
}

/* ---------------------------Responsive------------------------------- */

@media (max-width : 600px) {
  .home{

    width: auto;
  height: 500px;
  
  }
  .res-h-img{

    position: relative;
    top: 200px;
    right: 70px;
  }

  .home-text{
    position: relative;
    left: 5px;
    text-align: center;
    top: 50px;
  }
  .bd-placeholder-img{

    position: relative;
    
   
  }
  .lead{

    width: auto;
    font-size: 15px;
  }
  .p-card{

    
    padding: 15px;

  }

  .hairme2{
position: relative;
font-size: 13px;
left: 10px;


  }
  .award{
    font-size: 3px;
  }
  .c-email{

    position: relative;
    top: 12px;
  }
  .about-detail{
    border: 1px solid #DC3545;
    border-radius: 22px;
    width: 300px;
    position: relative;
    right: 33px;
    top: 10px;
    
    
      }
  
    
  }