body{
    margin: 0%;
    padding: 0%;
    background-color: #0c0e19;
   overflow-x: hidden;
}

.main-img{
    
  
    height: 600px; 
    width: auto;
    background-image: url('https://v4.cdnpk.net/videvo_files/video/free/video0468/thumbnails/_import_6166e79cddeab9.62548001_large.jpg?ga=GA1.1.581110608.1702911231'); 
    background-size: cover; 
    /* background-position: center;  */
    background-attachment: fixed;
   
  }
 /* AutoTypeText.css */

.auto-type-text {
  font-size: 24px;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  border-right: 2px solid #fffcfc;
  animation: typing 100s steps(50) forwards;
}

@keyframes typing {
  from { width: auto; }
  to { width: 100%; }
}

  

  
  
  
  .about-icon{

    width: 66px;
    color: yellow;
   
  }
  .featurette-image{

    border-radius: 33px;
  }
  .about-detail{
border: 1px solid #DC3545;
border-radius: 22px;

  }
  .bio{
   font-size: 20px;
   font-weight: bold;
  }
.featurette-heading{
  font-family: 'Anton', sans-serif;
    font-size: 55px;
    font-weight: bold;
}
.name{
  font-family: 'Anton', sans-serif;
    font-size: 55px;
    font-weight: bold;
   
}
.name1{
  color: yellow;
  font-family: 'Anton', sans-serif;
  font-size: 33px;
  font-weight: bold;
}
.myname{
  font-family: 'Anton', sans-serif;
  font-size: 70px;
  font-weight: bold;
 
  


}
.navbar{
 

}
 .project-title{

  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 12px;
  font-size: bold;
 }
 .about-icon-project{

 width: 100px;
 margin: auto;
 margin-top: 12px;
 color: yellow;
 
 }


 .card {
  transition: all 0.3s ease;
  box-shadow: 0 4px 8px 0 rgba(44, 43, 43, 0.2);
  cursor: pointer;
}
.card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px 0 rgba(248, 243, 243, 0.2);
}
.project-row{

  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 12px;

}
a{
  text-decoration: none;
}

.hair-me{
  height: 150px;
  background-color:yellow ;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hair-icon{
  width: 100px;
  height: 60px;
}
.hire-button{
  margin-bottom: 5px;
 
}
.doted{
  width: 100px;
  height: 60px;
  
}

.footer-icon{

  color: white;
  font-size: 25px;


}
.home{

  width: 100%;
  height: 100vh;
  background-image: url('./images/home.png');
background-size: cover;
  background-attachment: fixed;
 background-repeat: no-repeat;
 



}
.home-text{

  position: relative;
  left: 60px;
  top: 100px;
}

.text-heading {

  color: #FFFF00;
}

/* ---------------------------Responsive------------------------------- */

@media (max-width : 600px) {
  .home{

    background-image: none;
  
  }

  .home-text{
    position: relative;
    left: 5px;
    text-align: center;
    top: 150px;
  }
  .bd-placeholder-img{

    position: relative;
    top: 30px;
    right: 45px;
  }
  .p-card{

    
    padding: 15px;

  }

  .hairme2{
position: relative;
font-size: 17px;
left: 10px;

  }
  .c-email{

    position: relative;
    top: 12px;
  }
  
    
  }